*{
    --main_Color: #5E3BEE;
    --main_Color_Light: rgba(94, 59, 238, .1 );
    --black: #000000;
    --kinf_of_white: #F5FCFF;
    --white_Light: rgba(255, 255, 255, .52);
    --white: #FFFFFF;
    --red: #E62872;
    --dark_Blue: #1C1E53;
    --dark: #282938;
    --gray: #A3A3A3;
    --navH: 4rem;
    font-family: 'Roboto', sans-serif;

}